*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

body{
  font-family: "DM Sans", sans-serif;
  width: 1093px;
  height: 2341px;
}

.download_assets{
 width: 921px;
 height: 34px;
 top:2094px;
 left: 85px;
}